---
import Sidebar from '../components/common/Sidebar.astro';
import '../../styles/global.css'
interface Props {
  title: string;
  currentAlgoId?: string;
}

const { title, currentAlgoId } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | AlgoVisualizer</title>
  </head>
  <body class="bg-slate-950 text-slate-200 antialiased">
    <div class="flex h-screen overflow-hidden">
      <Sidebar currentId={currentAlgoId} />
      
      <main class="flex-1 overflow-y-auto relative flex flex-col">
        <slot />
      </main>
    </div>
  </body>
</html>